# --------------------
# Node
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------
# Environment files
# --------------------
.env
.env.*
!.env.example

# --------------------
# Build / Output
# --------------------
dist/
build/
out/
coverage/
.tmp/
.temp/

# --------------------
# Next.js
# --------------------
.next/
.vercel/

# --------------------
# Nest / TypeScript
# --------------------
*.tsbuildinfo

# --------------------
# Logs
# --------------------
logs
*.log

# --------------------
# OS Files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Editor / IDE
# --------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------
# Misc
# --------------------
.cache/
.parcel-cache/
