@import "tailwindcss";

:root {
  --background: #fdeefa;
  --foreground: #171717;

  --sidebar-bg: #26282a;
  --sidebar-active: #5a5d66;
  --sidebar-text: #ffffff;

  --sidebar-link-text: #d1d5dc;
  --sidebar-link-hover-bg: #1e2939;

  /*  seller dashboard  */
  --bg-color: #f3f5f9;
  --div-bg: #ffffff;
  --text-color: #5a5d66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fdeefa;
    --foreground: #171717;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
